<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Подтверждение</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="~{fragments :: navbar2}"></div>
<div class="container mt-5">
    <h1 class="text-center">Подтверждение пользователя</h1>
    <div th:if="${result_msg}" class="text-center">
        <p>Пользователь подтвержден!</p>
    </div>
    <div th:unless="${result_msg}" class="text-center">
        <p>Истекло время подтверждение пользователя!</p>
    </div>

    <form action="/" method="get">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-success">Перейти к главной странице!</button>
        </div>
    </form>
</div>

<th:block th:insert="fragments :: bootstrap-js"></th:block>
</body>
</html>