<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<style>
	label {
		width: 500px
	}
</style>
<body>
	<h1>Временная страница для подтверждения</h1>
	<br>
	<form action="/confirm" method="post">
		<label>Введите эл. почту которую хотите подтвердить:<input type="text" name="email">
		</label>
		<br>
		<br>
		<input type="submit" value="Подтвердить!">
	</form>
	<br>
	<form action="/login" method="get">
		<input type="submit" value="Назад!">
	</form>
</body>
</html>