<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Авторизация</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="~{fragments :: navbar2}"></div>
<div class="container mt-5">
    <div class="d-grid gap-1 col-6 mx-auto">
        <div>
            <h1 class="text-center">Авторизация</h1>
            <div class="text-center" style="color: #f46767" th:if="${param.error}">
                <p> Либо эл. почта или пароль введен неправильно, <br>
                    либо эл. почта не подтверждена! <br>
                    Пожалуйста попробуйте еще раз </p>
            </div>
            <form action="/login" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput"
                           placeholder="name@example.com" name="username">
                    <label for="floatingInput">Адрес электронной почты</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword"
                           placeholder="Пароль" name="password">
                    <label for="floatingPassword">Пароль</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="remember-me" id="checkRememberMe">
                    <label class="form-check-label" for="checkRememberMe">Запомнить меня на этом компьютере</label>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-success">Войти</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/script.js"></script>
    <div th:insert="fragments :: bootstrap-js"></div>
</div>
</body>
</html>