<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  lang="ru">
<head>
	<title>Авторизация</title>
	<th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div>
	<h1>Авторизация</h1>
	<div class="error-msg" th:if="${param.error}">
		<p> Либо эл. почта или пароль введен неправильно, <br>
			либо эл. почта не подтверждена! <br>
			Пожалуйста попробуйте еще раз </p>
	</div>
	<form action="/login" method="post">
		<table>
			<tr>
				<td>
					Эл. почта:
				</td>
				<td>
					<input type="text" name="username"/>
				</td>
			</tr>
			<tr>
				<td>
					Пароль:
				</td>
				<td>
					<input type="password" name="password"/>
				</td>
			</tr>
		</table>
		<br>
		<input type="submit" value="Войти!"/>
	</form>
</div>
<br>
<div>
	<form action="/register" method="get">
		<input type="submit" value="Создать нового пользователя!"/>
	</form>
</div>
<script src="/js/script.js"></script>
<div th:insert="fragments :: bootstrap-js"></div>
</body>
</html>