<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Сообщения</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div th:if="${user}">
		<form action="/users" method="get">
			<button type="submit">Список пользователей</button>
		</form>
	</div>
	<br>
	<div>
		<form th:action="@{/messages/new}" method="post" th:object="${message}" enctype="multipart/form-data">
		
			<input type="text" th:field="*{text}" placeholder="Введите сообщение">
			<input type="text" th:field="*{tag}" placeholder="Введите тег">
			<input type="file" accept="image/*" name="file">
			<input type="submit" value="Добавить!">
	
		</form>	
	</div>
	
	<h1>Список сообщений: </h1>
	
	<div>
		<form th:action="@{/messages/filter}" method="post">
			<input type="text" name="filter" placeholder="Отфильтрововать">
			<input type="submit" value="Искать!">
		</form>
	</div>
	
	<br>
	
	<div th:each="m : ${messages}">
		
		<span th:text="${m.getId()} + ': '"></span>
		<span th:text="${m.getText()} + ' - '"></span>
		<span th:text="${m.getTag()} + ' - '"></span>
		<span th:text="${m.getAppUser().getFirstName()}"></span>
		<div th:if="${m.getFileName() != null}">
			<img th:src="@{/msg/{fileName}(fileName=${m.getFileName()})}" alt="kek" width="170"/>
		</div>
	</div>
	<br>
	<form th:action="@{/logout}" method="POST">
   		<button type="submit">Выйти!</button>
    </form>
    <br>
	<a href="/">Назад...</a>
</body>
</html>