<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сообщения</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="container mt-5">
    <h1>Сообщения</h1>
    <div class="form-group col-md-6 mb-3">
        <form class="row gy-2 gx-3 align-items-center"
              th:action="@{/messages}"
              method="get">
            <div class="col-6">
                <input class="form-control" type="text" name="filter" placeholder="Найти по тегу"/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-success">Искать!</button>
            </div>
        </form>
    </div>
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapseExample" role="button"
       aria-expanded="false"
       aria-controls="collapseExample">
        Добавить новое сообщение!
    </a>
    <br/>
    <div class="collapse" id="collapseExample">
        <form action="/messages/new" method="post" th:object="${message}" enctype="multipart/form-data">
            <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1" class="form-label">Сообщение</label>
                <textarea class="form-control" th:field="*{text}" aria-describedby="sms"
                          id="exampleFormControlTextarea1" rows="3"></textarea>
                <div id="sms" class="form-text">
                    <span class="error-msg" th:if="${#fields.hasErrors('text')}"
                          th:errors="*{text}">Text error
                    </span>
                </div>

                <div class="row mb-3">
                    <div class="col-5 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Тег</label>
                        <input type="text" class="form-control" th:field="*{tag}" id="exampleFormControlInput1"/>
                    </div>
                    <div class="col">
                        <label class="form-label" for="formFile">Изображение</label>
                        <input type="file" class="form-control" accept="image/*" name="file" id="formFile"/>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-success">Добавить!</button>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <div th:insert="~{fragments :: pagination}"></div>
    <div th:each="m : ${messages}">
        <div class="card my-3" style="width: 100%;">
            <div th:if="${m.getFileName() != null}">
                <img class="card-img-top" th:src="@{/msg/{fileName}(fileName=${m.getFileName()})}" alt=""/>
            </div>
            <div class="card-body">
                <span th:text="${m.getText()}"></span>
                <hr/>
                <div>
                    <i th:text="${m.getTag()}"></i>
                </div>
            </div>
            <div class="card-footer text-muted container">
                <div class="row">
                    <div class="col align-self-start">
                        <a th:href="@{/profile/{firstName}(firstName=${m.getAppUser().getId()})}"
                           th:text="${m.getAppUser().getFirstName()}" class="link-success">
                        </a>
                    </div>
                    <div class="col align-self-center">
                        <div th:if="${m.getLikeUsers().contains(user)}" style="display: inline-block">
                            <a th:href="@{/unlike/message/{id}(id=${m.getId()})}">
                                <img src="/img/likeyet.png" width="30px" alt="..."/>
                            </a>
                        </div>
                        <div th:if="not ${m.getLikeUsers().contains(user)}" style="display: inline-block">
                            <a th:href="@{/like/message/{id}(id=${m.getId()})}">
                                <img src="/img/like.png" width="30px" alt="..."/>
                            </a>
                        </div>
                        <span style="color: #1ab06d" th:text="${m.getLikeUsers().size()}"></span>
                    </div>
                    <div class="col align-self-end" th:if="${m.getAppUser().getId() == user.getId()}">
                        <div class="dropdown">
                            <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown">
                                Действия
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <span class="dropdown-item">
                                        <form class="form" th:action="@{/update/message/{id}(id=${m.getId()})}"
                                              method="get">
                                            <button type="submit"
                                                    class="btn btn-outline-success btn-sm empty-btn">Редактировать</button>
                                        </form>
                                    </span>
                                </li>
                                <li>
                                    <span class="dropdown-item">
                                        <form class="form" th:action="@{/delete/message/{id}(id=${m.getId()})}"
                                              th:method="delete">
                                            <button type="submit"
                                                    class="btn btn-outline-success btn-sm empty-btn">Удалить</button>
                                        </form>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: bootstrap-js"></th:block>
</body>
</html>