<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title th:text="${foundUser.getEmail()}"></title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="container mt-5">
    <table>
        <tr>
            <td>Id:</td>
            <td><p th:text="${foundUser.getId()}"></p></td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td><p th:text="${foundUser.getFirstName()}"></p></td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td><p th:text="${foundUser.getLastName()}"></p></td>
        </tr>
        <tr>
            <td>Эл. почта:</td>
            <td><p th:text="${foundUser.getEmail()}"></p></td>
        </tr>
    </table>

    <div th:if="${foundUser.getEmail()} == ${user.getEmail()}">
        <form th:action="@{/settings/{email}(email=${user.getId()})}" method="get">
            <button>Настройки!</button>
        </form>
    </div>
    <br>
    <div>
        <form action="/messages" method="get">
            <button>Назад!</button>
        </form>
    </div>
</div>

<div th:insert="fragments :: bootstrap-js"></div>
</body>
</html>