<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title th:text="${foundUser.getEmail()}"></title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="container mt-5">
    <table class="table table-success table-striped border border-success">
        <tr style="text-align: center">
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Эл. почта</th>
        </tr>
        <tr style="text-align: center">
            <td><p th:text="${foundUser.getId()}"></p></td>
            <td><p th:text="${foundUser.getFirstName()}"></p></td>
            <td><p th:text="${foundUser.getLastName()}"></p></td>
            <td><p th:text="${foundUser.getEmail()}"></p></td>
        </tr>
    </table>
    <div th:if="${foundUser.getId()} == ${user.getId()}">
        <form th:action="@{/settings/{id}(id=${foundUser.getId()})}" method="get">
            <button type="submit" class="btn btn-outline-success"  style="width: 100%;">Настройки!</button>
        </form>
    </div>
    <br>
    <form action="/messages" method="get">
        <button type="submit" class="btn btn-outline-success"  style="width: 100%;">Сообщения!</button>
    </form>
</div>

<div th:insert="fragments :: bootstrap-js"></div>
</body>
</html>