<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Регистрация</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="~{fragments :: navbar2}"></div>
<div class="container mt-5">
    <div class="d-grid gap-2 col-6 mx-auto">
        <h1 class="text-center">Регистрация</h1>
        <div class="text-center" style="color: #f46767" th:if="${error_msg}">
            <p> Такой пользователь уже сущесвует! <br/>
                Пожалуйста попробуйте еще раз</p>
        </div>
        <form action="/register" method="post" th:object="${appUser}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingName"
                       placeholder="Имя" th:field="*{firstName}">
                <label for="floatingName">Имя</label>
                <span class="error-msg"
                      th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                </span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingSurname"
                       placeholder="Фамилия" th:field="*{lastName}">
                <label for="floatingSurname">Фамилия</label>
                <span class="error-msg"
                      th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                </span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingEmail"
                       placeholder="Адрес электронной почты" th:field="*{email}">
                <label for="floatingEmail">Адрес электронной почты</label>
                <span class="error-msg"
                      th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                </span>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword"
                       placeholder="Пароль" th:field="*{password}">
                <label for="floatingPassword">Пароль</label>
                <span class="error-msg"
                      th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                </span>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-success">Регистрация</button>
            </div>
        </form>
    </div>
</div>

<th:block th:insert="fragments :: bootstrap-js"></th:block>
</body>
</html>