<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Sign up</title>
</head>
<body>
	<h1>Регистрация</h1>
	<div style="color: red;" th:if="${error_msg}">
		<p> Либо такой пользователь уже сущесвует, либо веденная эл. почта не прошла валидацию! </p>
		<p> Пожалуйста попробуйте еще раз</p>
	</div>
	<form th:action="@{/register}" method="post">
		<div>
			<label> First name: <input type="text" name="firstName" />
			</label>
		</div>
		<br>
		<div>
			<label> Last name: <input type="text" name="lastName" />
			</label>
		</div>
		<br>
		<div>
			<label> Email: <input type="text" name="email" />
			</label>
		</div>
		<br>
		<div>
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<br>
		<div>
			<input type="submit" value="Регистрация!" />
		</div>
	</form>
	<br>
	<form action="/login" method="get">
		<input type="submit" value="Назад!">
	</form>

</body>
</html>