<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Настройки</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="container mt-5">
    <h1 class="text-center" th:text="'Настройки: '+${appUser.getEmail()}"></h1>
    <form th:action="@{/settings/{id}(id=${appUser.getId()})}" method="post" th:object="${appUser}">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="floatingName">Имя</label>
                    <input type="text" class="form-control" id="floatingName"
                           th:field="*{firstName}">
                    <span class="error-msg"
                          th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="floatingSurname">Фамилия</label>
                    <input type="text" class="form-control" id="floatingSurname"
                           th:field="*{lastName}">
                    <span class="error-msg"
                          th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-grid gap-2">
                <button class="btn btn-outline-success" type="submit">Изменить!</button>
            </div>
        </div>
        <input type="hidden" th:field="*{email}">
        <input type="hidden" th:field="*{password}">
    </form>
    <br>
    <form th:action="@{/reset/password/{id}(id=${appUser.getId()})}" method="post">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-success" type="submit">Сбросить пароль!</button>
        </div>
    </form>
    <br>
    <form th:action="@{/profile/{id}(id=${appUser.getId()})}" method="get">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-success" type="submit">Назад!</button>
        </div>
    </form>
</div>

<div th:insert="fragments :: bootstrap-js"></div>
</body>
</html>