<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Настройки</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="container mt-5">
    <form th:action="@{/settings/{id}(id=${user.getId()})}" method="post" th:object="${user}">
        <table>
            <tr>
                <td>Имя:</td>
                <td>
                    <input type="text" th:field="*{firstName}" name="firstName"/>
                </td>
                <td>
                <span class="error-msg"
                      th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                </td>
            </tr>
            <tr>
                <td>Фамилия:</td>
                <td>
                    <input type="text" th:field="*{lastName}" name="lastName"/>
                </td>
                <td>
                <span class="error-msg"
                      th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </td>
            </tr>
        </table>
        <input type="hidden" th:field="*{email}">
        <input type="hidden" th:field="*{password}">
        <br>
        <button type="submit">Изменить!</button>
    </form>
    <br>
    <div>
        <form th:action="@{/reset/password/{id}(id=${user.getId()})}" method="post">
            <button>Сбросить пароль!</button>
        </form>
    </div>
    <br>
    <div>
        <form th:action="@{/profile/{id}(id=${user.getId()})}" method="get">
            <button>Назад!</button>
        </form>
    </div>
</div>

<div th:insert="fragments :: bootstrap-js"></div>
</body>
</html>