<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Изменение параля</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="~{fragments :: navbar2}"></div>
<div class="container mt-5">
    <h1 th:text="${appUser.getEmail()}" class="text-center"></h1>
    <div class="error-msg" th:if="${error_msg}">
        <p class="text-center"> Пароли не совпадают! <br/>
            Пожалуйста попробуйте еще раз</p>
    </div>

    <div>
        <form th:action="@{/update/password/{id}(id=${appUser.getId()})}" method="post">
            <div class="mb-3">
                <label for="floatingInput">Новый пароль</label>
                <input type="password" class="form-control" id="floatingInput" name="password1">
            </div>
            <div class="mb-3">
                <label for="floatingPassword">Подтвердите новый пароль</label>
                <input type="password" class="form-control" id="floatingPassword" name="password2">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-success">Изменить пароль</button>
            </div>
        </form>
    </div>
</div>

<th:block th:insert="fragments :: bootstrap-js"></th:block>
</body>
</html>