<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Изменение параля</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<h1 th:text="${user.getEmail()}"></h1>

<div class="error-msg" th:if="${error_msg}">
    <p> Пароли не совпадают! <br>
        Пожалуйста попробуйте еще раз</p>
</div>

<div>
    <form th:action="@{/update/password/{id}(id=${user.getId()})}" method="post">
        <table>
            <tr>
                <td> Новый пароль:</td>
            </tr>
            <tr>
                <td><input type="password" name="password1"></td>
            </tr>
            <tr>
                <td> Подтвердите новый пароль:</td>
            </tr>
            <tr>
                <td><input type="password" name="password2"></td>
            </tr>
        </table>
        <button type="submit">Изменить!</button>
    </form>
</div>

<div th:insert="fragments :: bootstrap-js"></div>
</body>
</html>