<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<script>
    function link(id) {
        window.location.href="/user/"+id
    }
</script>
<body>
<div th:insert="fragments :: navbar"></div>
<div class="container mt-5">
    <h1>Список всех пользователей</h1>
    <table class="table table-success table-striped border border-success">
        <tr style="text-align: center">
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Эл. почта</th>
            <th>Роль</th>
        </tr>
        <div th:each="u : ${users}">
            <tr th:onclick="'link('+${u.getId()}+');'" style="text-align: center">
                <td th:text="${u.getId()}"></td>
                <td th:text="${u.getFirstName()}"></td>
                <td th:text="${u.getLastName()}"></td>
                <td th:text="${u.getEmail()}"></td>
                <td th:text="${u.getRole()}"></td>
            </tr>
        </div>
    </table>
</div>

<div th:insert="fragments :: bootstrap-js"></div>
</body>
</html>