<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>

<h1>Список всех пользователей</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Эл. почта</th>
        <th>Роли</th>
        <th></th>
    </tr>
    <div th:each="u : ${users}">
        <tr>
            <td th:text="${u.getId()}"></td>
            <td th:text="${u.getFirstName()}"></td>
            <td th:text="${u.getLastName()}"></td>
            <td th:text="${u.getEmail()}"></td>
            <td th:text="${u.getRole()}"></td>
            <td>
                <form th:action="@{/user/{id}(id=${u.getId()})}">
                    <button type="submit">Изменить!</button>
                </form>
            </td>
        </tr>
    </div>
</table>
<br>
<form action="/messages" method="get">
    <button type="submit">Назад!</button>
</form>

<div th:insert="fragments :: bootstrap-js"></div>
</body>
</html>