<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Изменение пользователя</title>
    <th:block th:insert="~{fragments :: bootstrap-css}"></th:block>
</head>
<body>
<div th:insert="fragments :: navbar"></div>
<div class="container mt-5">
    <h1 th:text="${appUser.getEmail()}"></h1>
    <form th:method="post" th:action="@{/user/{id}(id=${appUser.getId()})}" th:object="${appUser}">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="floatingName">Имя</label>
                    <input type="text" class="form-control" id="floatingName"
                           th:field="*{firstName}">
                    <span class="error-msg"
                          th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="floatingSurname">Фамилия</label>
                    <input type="text" class="form-control" id="floatingSurname"
                           th:field="*{lastName}">
                    <span class="error-msg"
                          th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="select">Роль</label>
                <select th:field="*{role}" class="form-select" id="select">
                    <option th:each="role : ${roles}"
                            th:value="${role}"
                            th:text="${role.name()}">
                    </option>
                </select>
            </div>
            <br>
            <div class="col-8">
                <br>
                <button class="btn btn-outline-success" style="width: 100%" type="submit">Изменить!</button>
            </div>
        </div>
        <br><br>
        <input type="hidden" th:field="*{email}">
        <input type="hidden" th:field="*{password}">
    </form>
</div>

<div th:insert="fragments :: bootstrap-js"></div>
</body>
</html>